# Files to ommit during commits into git repository.
# documentation htmls
build/

src/.idea

# .DS_STORES
.DS_Store
src/.DS_Store
src/*/.DS_Store
src/*/*/.DS_Store
src/*/*/*/.DS_Store

# pycache
src/*/__pycache__
src/*/*/__pycache__
src/*/*/*/__pycache__

# data
src/data-collection/data*
src/data-collection/tweets/*
src/*/*/*.dat
src/*/*/*/*.dat

# unpack
src/data-unpack/*.dat

# bot classific
src/classification/boty.txt
src/classification/outputs/*

# plotting
src/plotting/plots/*

\.idea/


# txts
*/*.txt
*/*/*.txt
*/*/*/*.txt

*/*.table
*/*/*.table
*/*/*/*.table